In [1]:
import pandas as pd
import numpy as np
from fbprophet import Prophet
import pickle
import datetime
import matplotlib.pyplot as plt


import os.path
import fix_yahoo_finance as yf
import pandas as pd

plt.rcParams['figure.figsize']=(20,10)
plt.style.use('ggplot')

In [2]:
h = 6
endDate = datetime.datetime.now().date()
startDate = datetime.datetime.strptime(str(endDate), u'%Y-%m-%d').date() - datetime.timedelta(days=h)
print startDate

2018-11-18

In [13]:
filename='./old/Bitcoin.csv'

change = 'dsad'


df_historical = pd.read_csv(filename, index_col=[0])
try:
    if change in list(df_historical):
        df = df_historical.rename(columns={change:'Target'})
        print 'target is in the list'
    else:
        print 'target not in the list'
except pd.errors.EmptyDataError as e:
    print e
    
df.tail()

target not in the list

,Target,High,Low,Target,Adj Close,Volume
Date,,,,,,
2018-11-05,6467.049805,6475.799805,6406.689941,6433.740234,6433.740234,155758902
2018-11-06,6433.529785,6482.810059,6412.560059,6479.720215,6479.720215,239808254
2018-11-07,6479.720215,6562.790039,6476.589844,6529.680176,6529.680176,360052788
2018-11-08,6530.939941,6542.419922,6438.270020,6446.060059,6446.060059,273205386
2018-11-09,6446.060059,6457.970215,6358.819824,6378.779785,6378.779785,174106736