In [101]:
import pandas as pd
import numpy as np
from fbprophet import Prophet
import pickle
import datetime
import matplotlib.pyplot as plt


import os.path
import fix_yahoo_finance as yf
import pandas as pd

plt.rcParams['figure.figsize']=(20,10)
plt.style.use('ggplot')

In [102]:
h = 6
endDate = datetime.datetime.now().date()
startDate = datetime.datetime.strptime(str(endDate), u'%Y-%m-%d').date() - datetime.timedelta(days=h)
print startDate

2018-11-05

In [103]:
df_historical = pd.read_csv("BTC-USD.csv", index_col=[0])

In [104]:
df_historical.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-11-05,6467.049805,6475.799805,6406.689941,6433.740234,6433.740234,155758902
2018-11-06,6433.529785,6482.810059,6412.560059,6479.720215,6479.720215,239808254
2018-11-07,6479.720215,6562.790039,6476.589844,6529.680176,6529.680176,360052788
2018-11-08,6530.939941,6542.419922,6438.270020,6446.060059,6446.060059,273205386
2018-11-09,6446.060059,6457.970215,6358.819824,6378.779785,6378.779785,174106736

In [105]:
df = pd.DataFrame(data=df_historical)
df = df_historical.filter(['Close'])

In [106]:
df.tail()

                  Close
Date
2018-11-05  6433.740234
2018-11-06  6479.720215
2018-11-07  6529.680176
2018-11-08  6446.060059
2018-11-09  6378.779785

In [107]:
df['ds'] = df.index
df['y'] = np.log(df['Close'])
df.tail()

                  Close          ds         y
Date
2018-11-05  6433.740234  2018-11-05  8.769311
2018-11-06  6479.720215  2018-11-06  8.776433
2018-11-07  6529.680176  2018-11-07  8.784113
2018-11-08  6446.060059  2018-11-08  8.771224
2018-11-09  6378.779785  2018-11-09  8.760732

In [108]:
model = Prophet(daily_seasonality=False, weekly_seasonality=True, yearly_seasonality=False)
model.fit(df)

In [109]:
future = model.make_future_dataframe(periods=7)
print future.tail()

            ds
368 2018-11-12
369 2018-11-13
370 2018-11-14
371 2018-11-15
372 2018-11-16

In [110]:
forecast = model.predict(future)

In [111]:
print (forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail(7))

            ds      yhat  yhat_lower  yhat_upper
366 2018-11-10  8.765612    8.683332    8.850482
367 2018-11-11  8.762077    8.674243    8.851987
368 2018-11-12  8.762054    8.675172    8.848937
369 2018-11-13  8.752813    8.666601    8.841771
370 2018-11-14  8.754919    8.662726    8.844211
371 2018-11-15  8.754004    8.660928    8.848539
372 2018-11-16  8.759499    8.665180    8.848629

In [112]:
df.set_index('ds', inplace=True)

In [113]:
forecast.set_index('ds', inplace=True)

In [114]:
p_df = df.join(forecast[['yhat', 'yhat_lower','yhat_upper']], how = 'outer')
p_df['yhat_scaled'] = np.exp(p_df['yhat'])

In [115]:
close_data = p_df.Close
forecasted_data = p_df.yhat_scaled
date = future['ds']

In [116]:
print close_data.tail()
print forecasted_data.tail()
print date.tail()

ds
2018-11-12   NaN
2018-11-13   NaN
2018-11-14   NaN
2018-11-15   NaN
2018-11-16   NaN
Name: Close, dtype: float64
ds
2018-11-12    6387.217451
2018-11-13    6328.463395
2018-11-14    6341.808485
2018-11-15    6336.004418
2018-11-16    6370.916338
Name: yhat_scaled, dtype: float64
368   2018-11-12
369   2018-11-13
370   2018-11-14
371   2018-11-15
372   2018-11-16
Name: ds, dtype: datetime64[ns]

In [118]:
date.merge(pd.DataFrame(data = [close_data.values] * len(date), columns = close_data.index, index=date.index), left_index=True, right_index=True)

AttributeError: 'Series' object has no attribute 'merge'

In [89]:
df.merge(pd.DataFrame(data = [s.values] * len(s), columns = s.index), left_index=True, right_index=True)

AttributeError: 'Series' object has no attribute 'join'

In [58]:
d = [date, close_data, forecasted_data]

In [59]:
import csv
from math import sqrt
from itertools import izip_longest

export_data = izip_longest(*d, fillvalue = '')

In [60]:
filename = 'hehe'

In [61]:
with open(''+str(filename)+'-prediction.csv' , 'wb') as myfile:
    wr = csv.writer(myfile)
    wr.writerow(("Date", "Actual", "Forecasted"))
    wr.writerows(export_data)